.sss{
   text-align: center;
}
.spysok{
   text-align: center;
}

body {
   background-image: url("backgroung55.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
.Button{
      text-align: center;  
   
}

.Button1{
   text-align: center;
}